@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h1>Welcome to Utah Accidents</h1>
    <h4 class="font-italic">** Insert Sobbering Fact / Statement ** </h4>
</header>
<br />
<body>

    <h2>Our Purpose:</h2>
    <h4>
    </h4>

</body>

@*<h4> Couldn't find the book you wanted? Search for it on Google!</h4>
<script async src="https://cse.google.com/cse.js?cx=b34457061a8faebf1"></script>
<div class="gcse-search">   </div>*@
